.profile__edit-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  margin-left: 18px;
  width: 24px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .profile__edit-button {
    width: 18px;
  }
 }
