.profile__add {
  width: 150px;
  border: solid 2px white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  align-self: center;
}

.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .profile__add {
    margin-top: 36px;
    width: 100%;
    max-height: 50px;
  }
 }
