.profile__add {
  width: 150px;

}

.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .profile__add {
    padding-top: 36px;
    margin: auto;
  }
 }
