.profile__name {
  margin: 0 0 16px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  display: flex;
}

@media screen and (max-width: 630px) {
  .profile__name {
    font-size: 34px;
    line-height: 33px;
  }
 }

@media screen and (max-width: 430px) {
  .profile__name {
    font-size: 27px;
    text-align: center;
    margin-top: 26px;
  }
 }
